name: NPM Publish

on:
  push:
    tags:
      - '*'
      - '!*-beta*'
      - '!*-alpha*'
      - '!*-rc*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'npm'
      - run: npm ci
        env:
          NPM_TOKEN: ${{ secrets.npm_token }}
      - run: npm run test:coverage

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'npm'
          registry-url: https://registry.npmjs.org/
      - run: npm ci
        env:
          NPM_TOKEN: ${{ secrets.npm_token }}
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
